.mainMatchupDiv {
    height: 5rem;
    width: 12rem;
    border: 1px solid black;
}

.teamsContainerDiv {
    height: 100%;
    width: 6rem;
    border: 1px solid black;
}

.teamNameDiv {
    height: 2rem;
    width: 100%;
    text-align: center;
    align-content: center;
}

.teamNameSpan {
    font-size: .5rem;
    color: red;
}